PORT=5000
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=5432
DB_NAME=VernonAutoDetailing
DB_USER=postgres
DB_PASSWORD=your_password_here
JWT_SECRET=VernonAutoDetailing_super_secret_jwt_key_2026
NODE_ENV=development
